<Project
    DefaultTargets="CopyFiles"
    xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	
  <Target Name="CopyFiles">
  

	<ItemGroup>
	<Files Include="$(MSBuildProjectDirectory)\*.*" />
	</ItemGroup>
	<Copy
            SourceFiles="@(Files)"
            DestinationFolder="C:\Users\$(USERNAME)"
        />
	
  </Target>
  
 

</Project>