<Project
   DefaultTargets="Test"
   xmlns="http://schemas.microsoft.com/developer/msbuild/2003">




  <UsingTask
    AssemblyFile="C:\Program Files (x86)\Jenkins\workspace\Sharepoint Word Co-Authoring\packages\xunit.MSBuild.2.0.0.0\tools\xunit.runner.msbuild.dll"
    TaskName="Xunit.Runner.MSBuild.xunit"/>


  <PropertyGroup>
    <RootDirectory>C:\Program Files (x86)\Jenkins\workspace\Sharepoint Word Co-Authoring</RootDirectory>
    <ResultsDirectory>$(RootDirectory)\TestResults</ResultsDirectory>

  </PropertyGroup>

  <Target Name="Test">
    <MakeDir
        Directories="$(RootDirectory)\TestResults" />

    <xunit Assemblies="$(RootDirectory)\abtTest\bin\Debug\abtTest.dll" IncludeTraits="Priority=1;Priority=2" Xml="$(RootDirectory)\TestResults\results.xml" />

  </Target>



</Project>