 <Project
    DefaultTargets="Test"
    xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	
	
 
  <UsingTask
    AssemblyFile="$(MSBuildProjectDirectory)\packages\xunit.1.9.2\lib\net20\xunit.runner.msbuild"
    TaskName="Xunit.Runner.MSBuild.xunit"/>
	
	
	<PropertyGroup>
	<RootDirectory>C:\Users\$(USERNAME)\AbtTestRunner</RootDirectory>
	<ResultsDirectory>$(RootDirectory)\TestResults</ResultsDirectory>
	
	</PropertyGroup>
	
   <Target Name="Test">
  <MakeDir
			Directories="$(MSBuildProjectDirectory)\TestResults" />
			
  <xunit Assemblies="$(MSBuildProjectDirectory)\abtTest\bin\Debug\abtTest.dll" Xml="$(MSBuildProjectDirectory)\TestResults\results.xml" />
  
  </Target>
  
  
  
  </Project>