<Project
   DefaultTargets="Test"
   xmlns="http://schemas.microsoft.com/developer/msbuild/2003">




  <UsingTask
    AssemblyFile="C:\Users\acunad\.jenkins\workspace\Co-Authoring-Testing\packages\xunit.1.9.2\lib\net20\xunit.runner.msbuild.dll"
    TaskName="Xunit.Runner.MSBuild.xunit"/>


  <PropertyGroup>
    <RootDirectory>C:\Users\acunad\.jenkins\workspace\Co-Authoring-Testing</RootDirectory>
    <ResultsDirectory>$(RootDirectory)\TestResults</ResultsDirectory>

  </PropertyGroup>

  <Target Name="Test">
    <MakeDir
        Directories="$(RootDirectory)\TestResults" />

    <xunit Assemblies="$(RootDirectory)\abtTest\bin\Debug\abtTest.dll" Xml="$(RootDirectory)\TestResults\results.xml"/>

  </Target>



</Project>